/* inline: não quebra de linha, largura mínima, apenas aceita margem e preenchimento horizontal */
.inline{
    display: inline;
    margin: 20px;
    padding: 20px;
}

/* block: quebra de linha, largura máxima, aceita margem e preenchimento vertical */
.block {
    display: block;
    margin: 10px 20px;
    padding: 10px 20px;
}

/* inline-block: não quebra linha, */
.inline-block {
    display: inline-block;
    margin: 10px 0px 0px;
    padding: 10px 0px 0px;
}
